@import "bootstrap";

body {
    padding-top: 20px;
    padding-bottom: 60px;
}

.jumbo {
    padding-left: 20px;
    padding-right: 20px;
}

.thumbnail
{
    height: 100%;
    margin: 8px;
    padding: 16px;
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.thumbnailbutton
{
    cursor: pointer;
}

.thumbnailflex
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item
{
    margin: 0px;
    padding: 0px;
}

.list-group-item-text
{
    color: white;
}

.list-group-item-heading
{
    color: white;
//    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

img.list-group-image
{
    padding: 32px;
    width: 100%;
    max-width: 256px;
    height: 100%;
    max-height: 256px;
}

img.list-group-image-small
{
    padding: 32px;
    width: 100%;
    max-width: 160px;
    height: 100%;
    max-height: 160px;
}

.row.list-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
}

.row.list-group > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.table tbody>tr>td.td-centered{
    vertical-align: middle;
}
