<div class="jumbo show-listing">
  <div class="row">
    <div class="col-xs-9 col-xs-offset-0 col-sm-9 col-sm-offset-0 col-md-9 col-md-offset-0">
        <h3 class="title">
            <strong>{{chain.name}}</strong>
            <br/>
            <small>{{chain.description}}</small>
        </h3>
    </div>
  </div>

{{outlet}}

</div>
