<div>
  <h4>Available Hives</h4>
  <table class="table table-striped">
<!--    <caption>Bees</caption>-->
    <thead>
      <tr>
        <th class="text-right">Image</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
    {{#each hives as |hive|}}
      <tr>
        <td class="text-right"><img height=32 src={{hive.image}}></td>
        <td class="td-centered">{{#link-to "hives.show.summary" hive.id}}{{hive.name}}{{/link-to}}</td>
        <td class="td-centered">{{hive.description}}</td>
        <td class="td-centered">{{#link-to "bees.new" hive.id tagName="button" class="btn btn-primary btn-sm btn-block"}}New Bee{{/link-to}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>

<br/>
<hr/>
<br/>
