<div class="jumbo show-listing">
  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0">
      <img height="128" style="float: left; margin-right: 24px;" src= {{hive.image}} />
      <div>
        <h3 class="title">
                <strong>{{hive.name}}</strong>
                <br/>
                <small>{{hive.description}}</small>
            </h3>
      </div>
    </div>
  </div>

  {{outlet}}

</div>
